{% extends 'base.html.twig' %}

{% block title %}Site de vente de voiture
{% endblock %}

{% block body %}
<div class="container">
	<div class="card text-center" style="width: 18rem; display:flex; ">
		{% for annonce in annonces %}
			<img class="card-img-top" src="/assets/img/ford_mustang.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">{{annonce.title}}</h5>
				<p class="card-text">{{annonce.description}}</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
