{% extends 'base.html.twig' %}

{% block title %}New Marque
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Créer une nouvelle Marque</h1>

		{{ include('marque/_form.html.twig') }}

		<a href="{{ path('app_marque_index') }}">back to list</a>
	</div>
{% endblock %}
